blinker>=1.3,<1.4
Fabric>=1.10,<1.11
Flask-Login==0.2.11
Flask-Migrate==1.3.0
Flask-Script>=2.0.5,<2.1
Flask-SQLAlchemy>=2.0,<2.1
Flask>=0.10.1,<0.11
gevent>=1.0.1,<1.1
gunicorn>=19.1.1,<19.2
hashids>=1.0.1,<1.1
requests>=2.8.1,<2.9
python-envcfg>=0.1.0,<0.2
raven>=5.1.1,<5.2

-e git+https://github.com/tonyseek/flask-oauthlib.git@91c8ea36e9b8968771902d27f599aa2f74daf4d4#egg=flask-oauthlib
-e git+https://github.com/kennethreitz/inbox.py.git@551b4f44b144564504c687cebdb4c543cb8e9adf#egg=inbox.py

honcho
flake8
pytest>=2.6.4,<2.7
